
#radioOptionfeild{
    margin-top: 15px;
    position: relative;
    display: none;
}
.fa-times {
    position: absolute;
    right: 15px;
    top: 0px;
    color: #555;
    cursor: pointer;
    line-height: 38px;
}


/* CSS Apply Using JavaScript */
.form-label {
    margin: 15px 0px 10px 10px;
    color: #555;
    text-transform: capitalize;
}
.option-label {
    color: #817c7c;
    text-transform: capitalize;
    margin-right: 5px;
    margin-left: 20px;
}